<a href="https://colab.research.google.com/github/smithakolan/MachineLearningFundamentals/blob/master/Linear_Regression(NumPY%2C_Pandas_etc).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('/content/Levels_Fyi_Salary_Data.csv')
print(df)

                timestamp     company     level  ... Race_Hispanic  Race Education
0       6/7/2017 11:33:27      Oracle        L3  ...             0   NaN       NaN
1      6/10/2017 17:11:29        eBay      SE 2  ...             0   NaN       NaN
2      6/11/2017 14:53:57      Amazon        L7  ...             0   NaN       NaN
3       6/17/2017 0:23:14       Apple        M1  ...             0   NaN       NaN
4      6/20/2017 10:58:51   Microsoft        60  ...             0   NaN       NaN
...                   ...         ...       ...  ...           ...   ...       ...
62637   9/9/2018 11:52:32      Google        T4  ...             0   NaN       NaN
62638   9/13/2018 8:23:32   Microsoft        62  ...             0   NaN       NaN
62639  9/13/2018 14:35:59        MSFT        63  ...             0   NaN       NaN
62640  9/16/2018 16:10:35  Salesforce  Lead MTS  ...             0   NaN       NaN
62641   1/29/2019 5:12:59       apple      ict3  ...             0   NaN       NaN

[62642 rows x 29 columns]

In [10]:
print(df.columns)

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [11]:
salaryDF = df[['company', 'totalyearlycompensation', 'yearsofexperience', 'yearsatcompany', 'basesalary']]

In [12]:
print(salaryDF.head())

     company  totalyearlycompensation  ...  yearsatcompany  basesalary
0     Oracle                   127000  ...             1.5    107000.0
1       eBay                   100000  ...             3.0         0.0
2     Amazon                   310000  ...             0.0    155000.0
3      Apple                   372000  ...             5.0    157000.0
4  Microsoft                   157000  ...             3.0         0.0

[5 rows x 5 columns]

## Create training and testing data

## Functions for RMSE & calculating weights

In [53]:
def rmse(targets, predictions):
    return np.sqrt((np.square(predictions - targets)).mean())

def calculateWeights(x_train, y_train):
    w = np.linalg.inv(np.transpose(x_train).dot(x_train)).dot(np.transpose(x_train).dot(y_train))
    return w